BUILD_TYPE = RELEASE
BUILD_VARIANT = DEV
//WALLET_HOST_URL =
VCI_ISSUER_URL = https:/$()/dev.issuer.eudiw.dev
VCI_CLIENT_ID = wallet-dev
VCI_REDIRECT_URI = eu.europa.ec.euidi:/$()/authorization
CORE_USER_AUTH = false
PRODUCT_BUNDLE_IDENTIFIER = gr.scytales.eudi.dev
PRODUCT_NAME = EudiWallet
// CODE_SIGN_IDENTITY = "Apple Development"
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 5T7UHW36CL
CODE_SIGN_ENTITLEMENTS = EudiWallet.entitlements
