#include "WalletDev.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = gr.scytales.eudi.dev.EudiReferenceWalletIDProvider
CODE_SIGN_ENTITLEMENTS = EudiReferenceWalletIDProvider/EudiReferenceWalletIDProvider.entitlements
// CODE_SIGN_IDENTITY = "Apple Development"
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = QS5HDV4ZS9
MARKETING_VERSION = 2.0
